.courses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 900px) {
  .courses {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
