.background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.verticalPattern,
.verticalOpauePattern,
.horizontalPattern,
.horizontalOpaquePattern {
  animation-name: scroll-pattern;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.verticalPattern {
  animation-duration: 10s;
}
.verticalOpauePattern {
  animation-duration: 15s;
}
.verticalGroup {
  fill: #b2627d;
}
.horizontalPattern,
.horizontalOpaquePattern {
  animation-duration: 60s;
}
.horizontalGroup,
.horizontalGroup rect {
  animation-duration: 11.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.horizontalGroup {
  fill: #3cd3de;
  animation-name: h-color-change;
}
.horizontalGroup rect {
  transform-origin: center;
}
.horizontalGroup rect:nth-of-type(odd) {
  animation-name: h-scale-up;
}
.horizontalGroup rect:nth-of-type(even) {
  animation-name: h-scale-down;
}
.horizontalOpaquePattern .horizontalGroup,
.horizontalOpaquePattern .horizontalGroup rect {
  animation-delay: 5.75s;
}
@keyframes h-color-change {
  0%,
  48.5%,
  51%,
  100% {
    fill: #3cd3de;
  }
  50% {
    fill: #b2627d;
  }
}
@keyframes h-scale-up {
  0%,
  48.5%,
  51%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.2);
  }
}
@keyframes h-scale-down {
  0%,
  48.5%,
  51%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
}
@keyframes scroll-pattern {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -800px); /* tile height */
  }
}
