.hero {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 900px) {
  .hero {
    flex-direction: row;
  }
  .hero-text {
    width: calc(100% - 500px);
  }
}
@media (min-width: 1180px) {
  .hero-text {
    width: calc(100% - 582px);
  }
}
