.skill {
  display: flex;
  flex-direction: column;
  background-color: #3c3c3b99;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
  text-align: center;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 7rem;
}
.skillImg {
  object-fit: contain;
  aspect-ratio: 1/1;
  width: 5rem;
}
.skillPill,
.skillPillFill {
  border-radius: 1rem;
}
.skillPill {
  background-color: #1c1c1ccc;
  width: 100%;
  position: relative;
  line-height: 1.3rem;
}
.skillPillFill {
  background: var(--highlight-gradient);
  position: absolute;
  inset: 0;
  right: auto;
  z-index: 0;
}
.skillPill span {
  position: relative;
  z-index: 1;
}
@media (min-width: 900px) {
  .skill {
    border-radius: 1rem;
    padding: 1rem;
    width: 8rem;
  }
  .skillImg {
    width: 6rem;
  }
}
