.logo {
  font-weight: 700;
  position: relative;
  height: 5.25rem;
}
.logo img {
  height: 5rem;
}
.logo-text {
  font-family: 'Stalinist One', system-ui;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
