.pagelinks a {
  color: #fff;
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
}
.pagelinks a::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0.25rem;
  background-color: #fff;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}
.pagelinks a:hover::before,
.pagelinks a.active::before {
  width: 100%;
}
