.about,
.about-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 900px) {
  .about {
    flex-direction: row;
    align-items: flex-start;
  }
  .about-profile {
    margin-top: -21%;
  }
}
