* {
  box-sizing: border-box;
  --highlight-gradient: linear-gradient(
    45deg,
    #3cd2de,
    #5db7dd,
    #6fa4dc,
    #888bdb
  );
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 2rem;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #3432c7, #101725);
  background-attachment: fixed;
  font-family: 'Righteous', system-ui;
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Stalinist One', system-ui;
  margin-top: 0;
}
h2 {
  font-size: 2.5rem;
  margin-top: 0;
}
h3 {
  font-size: 1.5rem;
}
section {
  width: min(100%, 1500px);
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #1c1c1ccc;
}
section p:last-of-type,
section ul:last-of-type {
  margin-bottom: 0;
}
img {
  max-width: 200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
}
